.carousel-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: white;
}

.carousel-item-container {
  display: block;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 100% auto;
  overflow: hidden;
}

.arrow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 800;
  margin-top: -25px;
  font-size: 50px;
  color: rgba(240, 250, 250, 0.2);
  position: absolute;
  top: 50%;
  cursor: not-allowed;
}

.arrow.clickable {
  cursor: pointer;
  color: rgba(240, 250, 250, 0.8);
}

.arrow-left {
  left: 0;
  margin-left: 15px;
}

.arrow-right {
  right: 0;
  margin-right: 15px;
}

ul {
  position: relative;
  z-index: 799;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition-timing-function: cubic-bezier(.74, .33, .83, .67)  /*ease-in-out;*/
}

li {
  float: left;
}

@media screen and (max-width: 900px) {
  .arrow {
    font-size: 40px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 800px) {
  .arrow {
    font-size: 30px;
    margin-top: -15px;
  }
}

.open {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: openAnimation 1s both ease-in;
}

.close {
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: closeAnimation 1s both ease-in;
}

@-webkit-keyframes openAnimation {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes closeAnimation {
  0% {
    -webkit-transorm: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}
