<ng-template #carousel>
  <div class="carousel-container" [ngStyle]="{'height': carouselInfo.originallHeight + 'px'}">
    <div class="arrow arrow-left" [ngClass]="{'clickable': allowMoveRight}" (click)="moveRight()">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </div>
    <ul [@move]="{value: moveStyleData, params: {itemLeft: itemLeft, animateTime: animateTime}}" [ngStyle]="{'left': itemLeftDelay, 'width': carouselInfo.originalWidth * carouselItems.length + 'px'}">
      <li *ngFor="let carouselItem of carouselItems">
        <div class="carousel-item-container" [ngStyle]="{'width': carouselInfo.originalWidth + 'px', 'height': carouselInfo.originalHeight + 'px', 'background-image': 'url(' + carouselItem.img + ')'}">
        </div>
      </li>
    </ul>
    <div class="arrow arrow-right" [ngClass]="{'clickable': allowMoveLeft}" (click)="moveLeft()">
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </div>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="carousel"></ng-container>
