.carousel-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: white;
}

.carousel-item-container {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: 100% auto;
  overflow: hidden;
}

.arrow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 800;
  margin-top: -25px;
  font-size: 50px;
  color: rgba(240, 250, 250, 1);
  position: absolute;
  top: 50%;
  cursor: not-allowed;
}

.arrow.clickable {
  cursor: pointer;
}

.arrow-left {
  left: 0;
  margin-left: 15px;
}

.arrow-right {
  right: 0;
  margin-right: 15px;
}

ul {
  z-index: 799;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

@media screen and (max-width: 900px) {
  .arrow {
    font-size: 40px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 800px) {
  .arrow {
    font-size: 30px;
    margin-top: -15px;
  }
}

