.page-container {
  background-color: #d0e9c6;
}

.carousel-container {
  margin-left: auto;
  margin-right: auto;
}

.items {
  height: 270px;
  display: inline-block;
  overflow: hidden;
}

#left, #right {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  opacity: 0.75;
  margin: 30px;
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  #left, #right {
    width: 60px;
    height: 60px;
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  #left, #right {
    width: 40px;
    height: 40px;
    margin: 15px;
  }
}

