.main-page-container {
  position: relative;
  max-width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-box-shadow: 3px 0px 7px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 0px 7px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 0px 7px -2px rgba(0,0,0,0.75);
  border: 1px solid black;
}
