.about-page-container {
  background-image: url(./../../../../assets/img/pages/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}


@media screen and (max-width: 600px) {
}
