.banner {
  position: relative;
  height: 140px;
  z-index: 1001;
  background-color: red;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80%;
  background-image: url("../../../../assets/img/ecoway-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo-container {
  cursor: pointer;
  display: inline-block;
  width: 180px;
  text-align: center;
  padding: 10px;
  position: relative;
  height: 100%;
  float: left;

  background-color: green;
}

.horonzontal-menu-n-domain {
  position: relative;
  top: 80px;
  left: 20px;
}

.company-name {
  text-shadow: 2px 2px 1px rgba(95, 70, 56, 0.86);
  color: white;
  min-width: 160px;
}

.dropdown-menu-toggle {
  cursor: pointer;
  display: none;
}

dropdown-menu {
  display: none;
  top: 100px;
  right: 0;
  position: absolute;
  z-index: 1000;
}



@media screen and (max-width: 600px) {
  .banner {
    padding: 5px;
    height: 100px;
  }

  .company-name {
    font-size: 12pt;
  }

  .web-site-name {
    font-size: 10pt;
  }

  .info {
    font-size: 80%;
    right: 0;
  }

  .horonzontal-menu-n-domain {
    display: none;
  }

  .dropdown-menu-toggle {
    position: absolute;
    color: white;
    display: inline-block;
    right: 10px;
    top: 30px;
    font-size: 250%;
  }

  dropdown-menu {
    display: block;
  }

  .slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slider.closed {
    max-height: 0;
  }
}
